{% extends 'base.html.twig' %}

{% block title %}Changed the title{% endblock %}

{% block body %}
    <div>
    {% if messages | length > 0 %}
        {% for message in messages %}
        <div>{{ message }}</div> 
        {% endfor %}
    {% else %}
        No content... 
    {% endif %}
    </div>
{% endblock %}
